<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sigin</title>
</head>
<body>
    <form action="/user" method="post">
        <input type="text" name="name" id="1">
        <input type="text" name="email" id="2">
        <button type="submit">Sign in</button>
    </form>
</body>
</html>